{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Movie</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/A-working-Rating-option-for-Contact-Forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/Header-Blue.css' %}">
    <link rel="stylesheet" href="{% static 'css/Header-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-with-Search-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><a href="{% url 'imdb:index' %}"><img src="{% static 'img/1200px-IMDB_Logo_2016.svg.png' %}" class="img-rounded" width ="10%" class="img-fluid" height = "12%" /></a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><strong><span style="text-decoration: underline;">Menu</span></strong></a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                    </li>
                </ul><i class="fa fa-search"></i><input type="search" placeholder = "Search IMDb"/>
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"></label></div>
                </form>
            </div><a href="{% url 'imdb:login' %}"><button class="btn btn-primary" id="LogIn" type="button">Log In</button></a></div>
    </nav>
    <div class="jumbotron" id="Movie">
        <h1 id="Movie-Name">Movie Name</h1><div class="form-group" id="star rating" >
    <div class="text-left star-rating" style="font-size: 25px;color: #f9dd16;"><span class="fa fa-star-o" style="padding-right: 1px;padding-left: 1px;" data-rating="1"></span><span class="fa fa-star-o" style="padding-right: 1px;padding-left: 1px;" data-rating="2"></span><span class="fa fa-star-o" style="padding-right: 1px;padding-left: 1px;"
            data-rating="3"></span><span class="fa fa-star-o" style="padding-right: 1px;padding-left: 1px;" data-rating="4"></span><span class="fa fa-star-o" style="padding-right: 1px;padding-left: 1px;" data-rating="5"></span><input class="form-control rating-value"
            type="hidden" id="rate" name="Rating" value="0" /></div>
</div>
        <p id="Genre">Genre</p>
    </div>
    <div><img id="Movie_poster"><img id="move_poster_2"></div>
    <div>
        <p id="Description">Movie Description Here</p>
        <p id="Director"><strong>Director</strong>: Director here</p>
        <p id="Stars"><strong>Stars: </strong>Cast here</p>
    </div>
    <div>
        <p id="Cast"><strong>CAST</strong></p>
        <ul id="Cast-List">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
        </ul>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/A-working-Rating-option-for-Contact-Forms.js' %}"></script>
</body>

</html>